.invest-page{


min-height:100vh;


padding:70px 15px 30px;


background:

radial-gradient(circle,#4a3000,#050505);


color:white;


}




.invest-page h1{


text-align:center;


font-size:25px;


color:#ffd700;


margin-top:10px;


}



.choose-box{


display:flex;


gap:10px;


}





.choose-box button{


height:45px;


border-radius:22px;


flex:1;


background:#111;


color:white;


border:1px solid #555;


font-weight:bold;


}



.choose-box .active{


background:#ffd700;


color:#000;


}





.invest-card,


.profit-card,


.history{


margin-top:15px;


padding:15px;


background:#111;


border-radius:22px;


border:1px solid #333;


text-align:center;


}



.invest-card input{


width:100%;


height:45px;


border-radius:20px;


background:#050505;


color:white;


border:1px solid #555;


padding:10px;


}





.profit-card strong{


font-size:30px;


color:#00ff88;


}



.invest-item{


margin-top:12px;


padding:15px;


background:#111;


border-radius:20px;


border:1px solid #ffd700;


}



.invest-item button{


width:100%;


height:40px;


border-radius:20px;


border:none;


background:#ffd700;


font-weight:bold;


margin-top:10px;


}

