.daily-container{

padding:20px;

color:white;

}



.daily-container h2{

text-align:center;

color:#ffd700;

}



.daily-card{


background:#151515;

border:2px solid #ffd700;

border-radius:20px;

padding:20px;

margin-bottom:20px;

text-align:center;


}



.vip-card{

border-color:#ff9800;


}



.daily-card h3{

color:#ffd700;

}



.daily-card p{

font-size:18px;

}



.daily-card button{


background:#ffd700;

padding:12px 25px;

border:none;

border-radius:15px;

font-weight:bold;

cursor:pointer;


}



.vip-card button{

background:#ff9800;

}



button:disabled{

opacity:.5;

}

