.admin-page{

padding:15px;

color:white;

}



.admin-page h1{

text-align:center;

color:#ffd700;

}



.order-card{


background:#151515;


border:1px solid gold;


border-radius:20px;


padding:15px;


margin-bottom:15px;


}



.order-card button{


border:none;


border-radius:15px;


padding:12px 20px;


margin:5px;


font-weight:bold;


}



.approve{


background:#00cc66;


}



.reject{


background:#ff3333;


color:white;


}


