.admin-login{

min-height:100vh;

background:#050505;

color:white;

padding:30px;

text-align:center;

}



.admin-login h1{

color:#ffd700;

}



.admin-login input{

width:100%;

max-width:400px;

padding:15px;

margin:10px;

border-radius:15px;

}



.admin-login button{

width:100%;

max-width:400px;

padding:15px;

background:#ffd700;

border:none;

border-radius:15px;

font-weight:bold;

}


