.bank-page{

min-height:100vh;

padding:20px;

padding-bottom:120px;

background:#050505;

color:white;

text-align:center;

}



.bank-page h1{

color:#00ffff;

text-shadow:0 0 20px cyan;

}



.bank-card,

.qr-card,

.deposit-card,

.history{


margin:20px auto;

padding:20px;

max-width:400px;

background:#111;

border:2px solid gold;

border-radius:20px;

}



select,

input{


width:90%;

padding:15px;

border-radius:15px;

margin:10px;

}



.qr img{

border-radius:20px;

}



.deposit-card button{


padding:15px 30px;

border:none;

border-radius:20px;

background:gold;

font-weight:bold;


}



.history-item{


border:1px solid cyan;

border-radius:15px;

padding:10px;

margin:10px;


}
