.arena-page{

min-height:100vh;
background:#080808;
color:white;
font-family:Arial;
padding:20px;
padding-bottom:90px;

}


.arena-header{

text-align:center;
border-bottom:2px solid #ffd400;

}


.arena-header h1{

color:#ffd400;

}



.arena-card{

margin:30px auto;
width:95%;
background:#111;
border:2px solid #ffd400;
border-radius:30px;
padding:25px;
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;

}



.hero,
.enemy{

width:40%;
background:#050505;
border-radius:25px;
padding:20px;

}



.hero{

border:1px solid #00ff66;

}



.enemy{

border:1px solid #ff3333;

}



.hero:first-letter,
.enemy:first-letter{

font-size:60px;

}



.vs{

font-size:35px;
font-weight:bold;
color:#ffd400;

}



.hp{

color:#00ff66;
margin:10px;

}



.fight-btn{

display:block;
width:90%;
margin:auto;
padding:18px;
border:0;
border-radius:40px;
font-size:18px;
font-weight:bold;
background:linear-gradient(90deg,#ff9900,#ffff00);

}



.reward{

width:90%;
margin:30px auto;

}



.reward h2{

color:#ffd400;

}



.reward div{

background:#111;
border-radius:20px;
padding:15px;
margin-top:10px;

}



@media(max-width:500px){

.arena-card{

padding:15px;

}


.hero,
.enemy{

padding:10px;
font-size:13px;

}


.vs{

font-size:22px;

}

}

