.arena-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#450a0a,#020617);

}



.arena-glass{


max-width:700px;


margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);


border:

2px solid red;


box-shadow:

0 0 70px red;


}



.arena-glass h1{


text-align:center;


color:#ffd700;


}



.battle-field{


height:300px;


display:flex;


justify-content:space-between;


align-items:center;


}



.fighter{


font-size:45px;


animation:

fightMove 1s infinite alternate;


}



.boss-icon{


font-size:80px;


animation:

bossShake .8s infinite;


}



.hp-bar{


height:25px;


background:#111;


border-radius:20px;


overflow:hidden;


}



.hp-bar div{


height:100%;


background:red;


}



.arena-glass button{


width:100%;


padding:18px;


border:none;


border-radius:30px;


background:

linear-gradient(red,orange);


font-weight:900;


color:white;


}



.damage{


margin-top:20px;


padding:20px;


border-radius:25px;


background:

rgba(0,0,0,.4);


color:#ffd700;


text-align:center;


}



@keyframes fightMove{


from{

transform:translateX(-10px);

}


to{

transform:translateX(10px);

}


}



@keyframes bossShake{


50%{

transform:scale(1.1);

}

}

