.map-page{


min-height:100vh;


padding:20px;


background:

radial-gradient(circle,#172554,#020617);


}



.map-glass{


max-width:700px;


margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);


border:

2px solid cyan;


box-shadow:

0 0 60px cyan;


}



.map-glass h1{


text-align:center;


color:#ffd700;


}



.map-area{


height:350px;


position:relative;


overflow:hidden;


border-radius:40px;


background:

linear-gradient(

#166534,

#052e16

);


border:

2px solid white;


}




.hero{


position:absolute;


left:15%;


bottom:80px;


font-size:70px;


transition:.8s;


}



.hero.run{


left:55%;


}



.boss{


position:absolute;


right:15%;


bottom:80px;


font-size:90px;


transition:.3s;


}



.boss.hit{


animation:

shake .3s infinite;


}



.boss-status{


margin:20px;


padding:20px;


border-radius:30px;


background:

rgba(0,0,0,.4);


text-align:center;


color:white;


font-size:22px;


}



.map-glass button{


width:100%;


padding:18px;


border:none;


border-radius:30px;


background:

linear-gradient(red,orange);


font-weight:900;


color:white;


font-size:20px;


}



.reward{


margin-top:20px;


padding:20px;


text-align:center;


color:#ffd700;


}



@keyframes shake{


0%{

transform:translateX(-10px);

}


50%{

transform:translateX(10px);

}


100%{

transform:translateX(-10px);

}


}

