.character-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#450a0a,#020617);

}



.character-glass{


max-width:650px;

margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);



border:

2px solid gold;



box-shadow:

0 0 60px gold;


}



.character-glass h1{


text-align:center;

color:#ffd700;


}



.character-list{


display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;


}




.character-card{


padding:25px;


border-radius:35px;


background:

rgba(255,255,255,.12);



border:

1px solid #ffd700;


text-align:center;


transition:.3s;


}



.character-card:hover{


transform:translateY(-10px);


box-shadow:

0 0 30px gold;


}



.icon{


font-size:60px;


}



.character-card button{


width:100%;


padding:15px;


border:none;


border-radius:30px;


background:

linear-gradient(gold,orange);


font-weight:900;


}



.legend{


border:

2px solid red;


box-shadow:

0 0 40px red;


}



@media(max-width:600px){

.character-list{

grid-template-columns:1fr;

}

}


.hero-open{


font-size:65px;


animation:

heroAppear 1.5s infinite alternate;


}



.Thường{


border-color:#94a3b8;


}



.Hiếm{


border-color:#38bdf8;


box-shadow:

0 0 30px #38bdf8;


}



.Huyền-Thoại{


border-color:red;


box-shadow:

0 0 50px red;


animation:

legendGlow 2s infinite;


}



.rarity{


font-weight:900;


color:#ffd700;


}



.buy-message{


margin:20px;


padding:20px;


border-radius:30px;


background:

rgba(0,255,100,.2);


border:

1px solid lime;


text-align:center;


font-size:20px;


animation:

pop .5s;


}



@keyframes heroAppear{


from{

transform:translateY(5px) scale(.95);

}


to{

transform:translateY(-10px) scale(1.05);

}


}




@keyframes legendGlow{


50%{

box-shadow:

0 0 80px red;

}


}



@keyframes pop{


from{

transform:scale(.5);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}


