.dashboard{

min-height:100vh;
background:#080808;
color:white;
padding:20px;
font-family:Arial;
padding-bottom:100px;

}


.dashboard header{

text-align:center;
border-bottom:2px solid #ffd400;
padding-bottom:20px;

}


.dashboard h1{

color:#ffd400;
font-size:25px;

}


.dashboard p{

color:#aaa;

}


.total{

margin:20px auto;
background:#111;
border:2px solid #ffd400;
border-radius:25px;
padding:20px;
font-size:20px;

}



.module-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-top:25px;

}



.module-card{

background:#111;
border:1px solid #555;
border-radius:20px;
padding:20px 5px;
text-align:center;

}


.module-card div{

font-size:40px;

}



.module-card span{

display:block;
margin-top:10px;

}



.module-card:active{

transform:scale(.95);

}




.world-preview{

margin-top:35px;

}



.world-preview h2{

color:#ffd400;

}



.city{

display:inline-block;
width:30%;
margin:5px;
padding:20px 5px;
background:#111;
border-radius:20px;
border:1px solid #333;
text-align:center;

}



@media(max-width:500px){

.module-grid{

grid-template-columns:repeat(3,1fr);

}

.city{

font-size:12px;

}

}

