.farm-page{


min-height:100vh;

background:

radial-gradient(circle,#183000,#050505);

color:white;

padding:20px;

padding-bottom:100px;


}



.farm-page h1{


text-align:center;

color:#ffd400;


}



.farm-banner{


margin-top:20px;

background:#111;

border:2px solid #ffd400;

border-radius:25px;

padding:25px;

text-align:center;

font-size:18px;


}



.farm-banner:first-letter{


font-size:50px;


}




.pet-list{


margin-top:20px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;


}




.pet-card{


background:#111;

border-radius:20px;

border:1px solid #333;

padding:15px;

text-align:center;


}



.pet-icon{


font-size:25px;

color:#ffd400;

margin-bottom:10px;


}



.pet-card b{


color:#ffd400;

font-size:20px;


}




.pet-card button,


.food-box button{


background:#ffd400;

border:none;

border-radius:25px;

padding:12px 20px;

font-weight:bold;


}





.food-box{


margin-top:20px;

background:#111;

border-radius:20px;

padding:20px;

text-align:center;

border:1px solid #333;


}



.food-box h2{


color:#ffd400;


}

