.farm{


min-height:100vh;

padding:20px;

color:white;


background:

linear-gradient(
180deg,
#061500,
#174000
);


text-align:center;


}



.farm h1{


color:#ffd700;


}



.pet-card{


background:

rgba(255,255,255,.12);


padding:25px;


border-radius:25px;


box-shadow:

0 0 30px #66ff00;


}



.pet{


font-size:100px;


animation:

petmove 2s infinite;


}



@keyframes petmove{


50%{


transform:

translateY(-15px);


}


}



.pet-card button{


display:block;


width:80%;


margin:15px auto;


padding:15px;


border:0;


border-radius:30px;


background:

linear-gradient(
45deg,
#ff9900,
#ffe600
);



font-weight:bold;


font-size:16px;


}



.pet-card b{


color:#ffd700;


}



.farm-info{


margin-top:25px;


background:#0008;


padding:20px;


border-radius:20px;


}



