.friend-page{

padding:15px;

color:white;

}



.friend-page h1{


text-align:center;


color:#ffd700;


}




.invite-box,


.friend-stat,


.reward{


background:#151515;


border:1px solid gold;


border-radius:20px;


padding:20px;


margin-bottom:15px;


text-align:center;


}




.invite-box p{


word-break:break-all;


color:#00ff88;


}




button{


background:#ffd700;


border:none;


padding:12px 25px;


border-radius:20px;


font-weight:bold;


}
