.game-page{

padding:20px;

color:white;

}



.game-page h1{

text-align:center;

color:#ffd900;

}



.room-list{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.room-card{


background:#180b20;


border:2px solid gold;


border-radius:20px;


padding:20px;


text-align:center;


box-shadow:

0 0 20px #ffd90055;


}



.room-card button{


background:#ffd900;


border:none;


padding:12px 30px;


border-radius:30px;


font-weight:bold;


}

