.games-page{


min-height:100vh;


padding:25px;


padding-top:100px;


background:

linear-gradient(
180deg,
#080400,
#452000
);


color:white;


}



.games-page h1{


text-align:center;


color:#ffd700;


}



.sub{


text-align:center;


}



.games-list{


display:grid;


grid-template-columns:

repeat(2,1fr);


gap:15px;


margin-top:25px;


}



.game-box{


padding:20px;


border-radius:25px;


background:#000b;


box-shadow:

0 0 20px orange;


text-align:center;


}



.game-box h2{


color:#ffd700;


}



.game-box button{


padding:12px 25px;


border:0;


border-radius:30px;


background:

linear-gradient(
45deg,
orange,
yellow
);


font-weight:bold;


}


