.role-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#581c87,#020617);

}



.role-glass{

max-width:650px;

margin:auto;

padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);



border:

2px solid gold;


box-shadow:

0 0 60px purple;


}



.role-glass h1{

text-align:center;

color:#ffd700;

}



.role-info{


padding:20px;


border-radius:30px;


background:

rgba(0,0,0,.3);


}



.role-card{


margin-top:20px;


padding:25px;


border-radius:35px;


background:

rgba(255,255,255,.1);


border:

1px solid gold;


}



.role-card button{


width:100%;


margin-top:12px;


padding:15px;


border:none;


border-radius:30px;


background:

linear-gradient(gold,orange);


font-weight:900;


}



.role-card .remove{


background:

linear-gradient(red,#7f1d1d);


color:white;


}

