.character-page{


padding:20px;


}



.character-page h1{


text-align:center;


color:#ffd700;


}



.character-list{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:15px;


}



.character-card{


padding:20px;


text-align:center;



background:

rgba(255,255,255,.08);



backdrop-filter:

blur(20px);



border:

1px solid gold;



border-radius:25px;



box-shadow:

0 0 25px rgba(255,215,0,.4);



animation:

charFloat 3s infinite;


}



.char-icon{


font-size:55px;


}



.character-card button{


border:none;


padding:12px 25px;


border-radius:20px;



background:

linear-gradient(

gold,

orange

);



font-weight:bold;


}



@keyframes charFloat{


50%{


transform:translateY(-8px);


}


}



@media(max-width:500px){


.character-list{


grid-template-columns:1fr;


}


}


