.guild-map-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#064e3b,#020617);

}



.guild-map-glass{


max-width:700px;


margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);



backdrop-filter:

blur(30px);



border:

2px solid lime;



box-shadow:

0 0 60px lime;


}



.guild-map-glass h1{


text-align:center;


color:#ffd700;


}



.area-card,


.owned{


margin-top:20px;


padding:25px;


border-radius:35px;


background:

rgba(255,255,255,.1);


border:

1px solid gold;


}



.area-card button{


width:100%;


padding:15px;


border:none;


border-radius:25px;


background:

linear-gradient(red,orange);


font-weight:900;


color:white;


}



.message{


margin-top:20px;


padding:20px;


border-radius:25px;


background:

rgba(0,0,0,.4);


color:#ffd700;


text-align:center;


}



