.city-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#1e3a8a,#020617);

}



.city-glass{

max-width:650px;

margin:auto;

padding:30px;

border-radius:45px;

background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);


border:

2px solid #60a5fa;


box-shadow:

0 0 60px #3b82f6;


}



.city-glass h1{

text-align:center;

color:#ffd700;

}



.castle-main{


margin:25px 0;


padding:40px;


text-align:center;


font-size:45px;


border-radius:40px;


background:

rgba(255,215,0,.15);


border:

1px solid gold;


}



.city-info,


.building-list div{


margin-top:20px;


padding:20px;


border-radius:30px;


background:

rgba(255,255,255,.1);


border:

1px solid #60a5fa;


}



.city-glass button{


width:100%;


margin-top:15px;


padding:16px;


border:none;


border-radius:30px;


background:

linear-gradient(gold,orange);


font-weight:900;


}



