.army-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#312e81,#020617);

}



.army-glass{


max-width:650px;

margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);


border:

2px solid cyan;


box-shadow:

0 0 60px cyan;


}



.army-glass h1{


text-align:center;

color:#ffd700;


}



.city-defense{


margin:20px 0;


padding:25px;


border-radius:30px;


background:

rgba(0,0,0,.3);


border:

1px solid gold;


}



.member{


margin-top:15px;


padding:20px;


border-radius:30px;


background:

rgba(255,255,255,.1);


border:

1px solid white;


}



.member.active{


border:2px solid lime;


box-shadow:

0 0 30px lime;


}



.army-glass button{


margin-top:20px;


width:100%;


padding:18px;


border:none;


border-radius:30px;


background:

linear-gradient(red,orange);


color:white;


font-weight:900;


}

