.guild-page{

min-height:100vh;

padding:100px 20px;

background:

radial-gradient(circle,#312e81,#020617);

}



.guild-box{

max-width:700px;

margin:auto;

padding:40px;

border-radius:45px;

background:#ffffff15;

border:2px solid gold;

color:white;

text-align:center;

}



.quest{

margin:30px 0;

padding:30px;

border-radius:35px;

background:#0008;

}



button{

width:100%;

padding:18px;

border-radius:30px;

border:none;

background:gold;

font-weight:900;

}

