.server-page{

min-height:100vh;

padding:100px 20px;

background:

radial-gradient(circle,#164e63,#020617);

}



.server-box{

max-width:700px;

margin:auto;

padding:40px;

border-radius:45px;

background:#ffffff15;

border:2px solid cyan;

color:white;

text-align:center;

}



.server-box h1{

color:#ffd700;

}



.current-server{

padding:25px;

background:#0008;

border-radius:30px;

font-size:22px;

}



button{

width:100%;

margin-top:15px;

padding:17px;

border-radius:30px;

border:none;

background:

linear-gradient(#22d3ee,#2563eb);

color:white;

font-weight:900;

}

