.building-page{

min-height:100vh;

padding:20px;

background:

radial-gradient(circle,#14532d,#020617);

}



.building-glass{


max-width:650px;

margin:auto;


padding:30px;


border-radius:45px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(30px);


border:

2px solid gold;


box-shadow:

0 0 60px gold;


}



.building-glass h1{


text-align:center;

color:#ffd700;


}



.building-card{


margin-top:20px;


padding:25px;


border-radius:35px;


background:

rgba(255,255,255,.1);


border:

1px solid gold;


}



.building-card button{


width:100%;


padding:15px;


border:none;


border-radius:30px;


background:

linear-gradient(gold,orange);


font-weight:900;


}



.bonus{


margin-top:25px;


padding:25px;


border-radius:30px;


background:

rgba(0,0,0,.3);


color:#ffd700;


text-align:center;


}


