.mine-page{

text-align:center;

padding:20px;

}



.mine-card{


background:

linear-gradient(

145deg,

#41005c,

#160020

);


border:2px solid gold;


border-radius:30px;


padding:30px;


box-shadow:

0 0 30px gold;


}



.gold-show{


font-size:40px;


font-weight:bold;


color:#ffd700;


margin-bottom:20px;


}



.energy{


font-size:18px;


}



.energy-bar{


height:18px;


background:#222;


border-radius:20px;


overflow:hidden;


margin:15px;


}



.energy-bar span{


display:block;


height:100%;


background:

linear-gradient(

90deg,

lime,

gold

);


}



.mine-button{


margin-top:30px;


width:150px;


height:150px;


border-radius:50%;


border:none;


font-size:25px;


font-weight:bold;


background:


radial-gradient(

circle,

gold,

orange

);



box-shadow:

0 0 30px gold;


animation:pulse 2s infinite;


}



.mine-button:active{


transform:scale(.85);


}



@keyframes pulse{


50%{

box-shadow:

0 0 50px yellow;

}


}



