.mining-page{


min-height:100vh;


padding:25px;


padding-top:100px;


color:white;


background:

linear-gradient(
180deg,
#090400,
#4b2300
);


}




.mining-page h1{


text-align:center;


color:#ffd700;


}




.mine-card{


margin-top:30px;


padding:35px;


border-radius:35px;


background:#000b;


text-align:center;


box-shadow:

0 0 40px orange;


}




.mine-animation{


font-size:110px;


animation:

float 2s infinite;


}




@keyframes float{


50%{


transform:translateY(-15px);


}


}





.mine-card button{


padding:18px 50px;


border:0;


border-radius:40px;


background:

linear-gradient(
45deg,
orange,
yellow
);


font-size:18px;


font-weight:bold;


}




.mine-card b{


color:#00ff66;


}





.info-card{


margin-top:25px;


padding:25px;


background:#ffffff12;


border-radius:25px;


}


