.pet-page{


min-height:100vh;


padding:25px;


padding-top:100px;


background:

linear-gradient(
180deg,
#090400,
#432000
);


color:white;


}



.pet-page h1{


text-align:center;


color:#ffd700;


}



.current-pet,


.pet-card{


margin-top:20px;


padding:25px;


border-radius:25px;


background:#000b;


box-shadow:

0 0 20px orange;


}



.pet-card button{


padding:12px 30px;


border:0;


border-radius:30px;


background:

linear-gradient(
45deg,
orange,
yellow
);


font-weight:bold;


}



.pet-card h3{


color:#ffd700;


}

