.pvp-page{

padding:20px;

color:white;

text-align:center;

}



.pvp-page h1{

color:#ffd700;

}



.battle-box{


display:flex;


justify-content:center;


align-items:center;


gap:30px;


}



.fighter{


background:#151515;


border:2px solid gold;


border-radius:20px;


padding:20px;


width:150px;


}





.pet-fight{


font-size:70px;


animation:pvpMove 1s infinite;


}



.enemy{


animation:pvpAttack 1s infinite;


}





@keyframes pvpMove{


50%{

transform:translateY(-15px);

}


}



@keyframes pvpAttack{


50%{

transform:translateX(15px);

}


}




.vs{


font-size:35px;


color:red;


font-weight:bold;


}





.choose{


display:flex;


gap:10px;


justify-content:center;


flex-wrap:wrap;


}



.choose button{


padding:10px;


border-radius:15px;


background:#222;


color:white;


border:1px solid gold;


}





.battle-btn{


margin-top:20px;


width:80%;


padding:15px;


border-radius:30px;


border:none;


background:#ffd700;


font-size:18px;


font-weight:bold;


}





@media(max-width:600px){


.battle-box{


gap:10px;


}


.fighter{


width:120px;


padding:10px;


}


.pet-fight{


font-size:50px;


}


}
