.portfolio-page{

min-height:100vh;

padding:20px;

padding-bottom:120px;

background:#050505;

color:white;

text-align:center;

}



.portfolio-page h1{

color:#00ffff;

text-shadow:0 0 20px cyan;

}



.summary{

margin:15px auto;

max-width:350px;

padding:20px;

border-radius:20px;

background:#111;

border:2px solid gold;

}



.summary h2{

color:#00ff99;

}





.profit{

max-width:300px;

margin:20px auto;

padding:20px;

border-radius:20px;

}



.green{

border:2px solid #00ff00;

color:#00ff00;

}



.red{

border:2px solid red;

color:red;

}



.portfolio-list{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(260px,1fr));

gap:20px;

}



.stock-item{

background:#111;

padding:20px;

border-radius:20px;

border:2px solid cyan;

}



.stock-item h2{

color:#ffd700;

}



.stock-item b{

color:#00ff99;

}



.stock-item button{

padding:12px 30px;

border-radius:20px;

border:none;

background:red;

color:white;

font-weight:bold;

}



.empty{

padding:40px;

border:2px dashed gold;

border-radius:20px;

}
