.profile-page{


min-height:100vh;


padding:30px;


background:

linear-gradient(

180deg,

#260039,

#080010

);


color:white;


display:flex;

justify-content:center;


}




.profile-card{


width:380px;


background:#14091d;


border:3px solid gold;


border-radius:35px;


padding:30px;


text-align:center;


box-shadow:

0 0 40px gold;


animation:

profileGlow 3s infinite;


}



@keyframes profileGlow{


50%{


box-shadow:

0 0 70px #ffd900;


}


}




.avatar-frame{


width:130px;


height:130px;


margin:auto;


border-radius:50%;


background:#ffd900;


display:flex;


align-items:center;


justify-content:center;


font-size:70px;


border:8px solid white;


}




.vip{


background:#ffd900;


color:black;


padding:10px 30px;


border-radius:30px;


display:inline-block;


font-weight:bold;


}



.stats{


display:grid;


grid-template-columns:1fr 1fr;


gap:15px;


margin-top:25px;


}



.stats div{


background:#281030;


border:1px solid gold;


border-radius:20px;


padding:15px;


}



.stats b{


display:block;


color:#ffd900;


font-size:22px;


}



.battle-info{


margin-top:25px;


border-top:1px solid gold;


padding-top:20px;


}



.profile-buttons button{


width:100%;


margin:10px;


padding:15px;


border-radius:30px;


border:none;


background:#ffd900;


font-weight:bold;


}



@media(max-width:500px){


.profile-card{


width:90%;


}



}

