.profile-page{

min-height:100vh;
background:#080808;
color:white;
padding-bottom:90px;
font-family:Arial;

}



.profile-header{

text-align:center;
padding:30px;
border-bottom:2px solid #ffd400;

}



.profile-avatar{

width:100px;
height:100px;
margin:auto;
border-radius:50%;
background:#222;
display:flex;
align-items:center;
justify-content:center;
font-size:60px;

}



.profile-header h1{

color:#ffd400;

}



.profile-stats{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
width:90%;
margin:20px auto;

}



.profile-stats div{

background:#111;
border:1px solid #ffd400;
border-radius:20px;
padding:15px;
text-align:center;

}



.profile-stats strong{

display:block;
color:#ffd400;

}



.profile-stats small{

font-size:11px;

}



.assets,
.achievement{

width:90%;
margin:25px auto;

}



.assets h2,
.achievement h2{

color:#ffd400;

}



.asset-box{

background:#111;
border:1px solid #333;
border-radius:20px;
padding:18px;
margin-top:10px;
display:flex;
justify-content:space-between;

}



.achievement div{

background:#111;
padding:15px;
margin-top:10px;
border-radius:15px;

}


@media(max-width:500px){

.profile-stats{

grid-template-columns:repeat(3,1fr);

}

}

