.room-play{

min-height:100vh;

padding:25px;

background:

linear-gradient(

180deg,

#300040,

#050008

);

color:white;

text-align:center;

}



.room-play h1{

color:#ffd900;

font-size:38px;

}



.wallet{

display:inline-block;

padding:15px 30px;

border:2px solid gold;

border-radius:30px;

}





.player-list{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin:30px;

}





.arena{


height:220px;

border-radius:30px;

border:2px solid gold;

background:

radial-gradient(

circle,

#ffd90055,

transparent

);


display:flex;

align-items:center;

justify-content:center;


font-size:35px;


animation:

pulse 2s infinite;


}



@keyframes pulse{

50%{

box-shadow:

0 0 50px gold;

}

}





.bet button{


margin:15px;

padding:18px 35px;

border-radius:35px;

border:none;

background:#ffd900;

font-weight:bold;

}



.chat{

margin-top:30px;

border:2px solid gold;

border-radius:25px;

padding:20px;


}



.chat-list{

height:150px;

overflow:auto;

background:#100018;

padding:10px;

}



.chat input{


width:70%;

padding:12px;

border-radius:20px;


}



.chat button{


padding:12px 25px;

background:#ffd900;

border:none;

border-radius:20px;


}

