.stock-page{

min-height:100vh;
background:#080400;
color:white;
padding:20px;
text-align:center;

}



.stock-page h1{

color:#00ffff;
text-shadow:0 0 20px cyan;

}



.money{

border:2px solid gold;
padding:15px;
border-radius:20px;
margin:20px;

}



.stock-list{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}



.stock-card{

background:#050505;
border:2px solid #00ffff;
border-radius:20px;
padding:20px;
box-shadow:0 0 20px #00ffff;

}



.stock-card h2{

color:#ffd700;

}



.price{

font-size:35px;
color:#00ff99;

}



.up{

color:#00ff00;

}



.down{

color:red;

}



button{

margin:8px;
padding:12px 20px;
border-radius:20px;
border:none;
background:#ffd700;
font-weight:bold;
cursor:pointer;

}

.mini-chart{

width:100%;

height:70px;

margin:10px 0;

background:#050505;

border-radius:15px;

overflow:hidden;

}




.stock-card:hover{


transform:translateY(-5px);

box-shadow:

0 0 25px cyan;


}



