.stock-page{

min-height:100vh;
background:#080808;
color:white;
font-family:Arial;
padding-bottom:90px;

}


.stock-header{

padding:20px;
border-bottom:2px solid #ffd400;
display:flex;
justify-content:space-between;
align-items:center;

}


.stock-header h1{

color:#ffd400;
font-size:24px;

}



.market-box{

width:90%;
margin:20px auto;
background:#111;
border-radius:25px;
padding:20px;

}



.market-tabs{

display:flex;
gap:10px;

}



.market-tabs button{

flex:1;
padding:12px;
border-radius:20px;
border:1px solid #ffd400;
background:#000;
color:white;

}



.stock-list{

width:90%;
margin:auto;

}



.stock-card{

background:#111;
border:1px solid #333;
border-radius:20px;
padding:15px;
margin-bottom:15px;
display:flex;
align-items:center;
justify-content:space-between;

}



.stock-card h3{

color:#ffd400;

}



.stock-card strong{

display:block;

}



.green{

color:#00ff66;

}


.red{

color:#ff3333;

}



.stock-card button{

background:linear-gradient(90deg,#ff9900,#ffff00);
border:0;
padding:10px 20px;
border-radius:20px;
font-weight:bold;

}



.portfolio{

width:90%;
margin:30px auto;

}



.portfolio h2{

color:#ffd400;

}



.asset{

background:#111;
padding:15px;
border-radius:15px;
margin-top:10px;
border:1px solid #555;

}


