.user-page{


min-height:100vh;

padding:20px;

color:white;

background:

linear-gradient(
180deg,
#100600,
#452000
);

text-align:center;


}



.user-page h1{


color:#ffd700;

}



.profile{


background:#ffffff15;

padding:25px;

border-radius:25px;


}



.avatar{


font-size:80px;


}



.vip{


display:inline-block;

padding:10px 30px;

border-radius:30px;

background:#ffd700;

color:#000;

font-weight:bold;


}



.vip-box,


.benefit{


margin-top:20px;

background:#0008;

padding:25px;

border-radius:25px;


}



.vip-bar{


height:18px;

background:#222;

border-radius:20px;

overflow:hidden;


}



.vip-fill{


height:100%;

background:

linear-gradient(
90deg,
orange,
yellow
);


}



button{


margin-top:20px;

padding:15px 40px;

border:0;

border-radius:30px;

background:#ffd700;

font-weight:bold;


}



.benefit h2,

.vip-box h2{


color:#ffd700;


}


