.vip-page{


min-height:100vh;


padding:25px;


padding-top:100px;


background:

linear-gradient(
180deg,
#120700,
#5b2d00
);


color:white;


}



.vip-page h1{


text-align:center;


color:#ffd700;


}




.vip-current,


.vip-card{


margin-top:20px;


padding:25px;


border-radius:25px;


background:#000b;


box-shadow:

0 0 25px gold;


}



.vip-card h2{


color:#ffd700;


}



.vip-card button{


padding:12px 30px;


border:0;


border-radius:30px;


background:

linear-gradient(
45deg,
orange,
yellow
);


font-weight:bold;


}


