.wallet-page{

padding:20px;

color:white;

}



.wallet-assets,

.bank-card,

.bank-info-card,

.diamond-box{


margin:15px 0;

padding:20px;

border-radius:25px;

background:

linear-gradient(

145deg,

#071525,

#000

);


border:2px solid #00eaff;


box-shadow:

0 0 25px rgba(0,234,255,.35);


}



.wallet-assets div{


margin:12px 0;

font-size:17px;


}



.wallet-assets strong{


display:block;

color:#00ff88;

font-size:22px;

}



h1,h2{


text-align:center;

color:#00eaff;


}



.warning{


color:#ff4444;

text-align:center;

font-weight:bold;


}



.bank-info-card input,

.diamond-box input{


width:100%;

box-sizing:border-box;

padding:16px;

margin:10px 0;

border-radius:18px;

background:#050505;

border:2px solid #555;

color:white;

font-size:16px;


}



.bank-info-card input:focus,

.diamond-box input:focus{


border-color:#00ff88;


}



.money-preview{


margin-top:15px;

padding:18px;

border-radius:18px;

background:

rgba(0,255,136,.1);


text-align:center;

font-size:18px;


}



.money-preview b{


color:#00ff88;

font-size:22px;


}



.diamond-box button{


width:100%;

padding:17px;

border-radius:20px;

border:none;

background:#00ff88;

font-size:18px;

font-weight:bold;

margin-top:15px;


}


