.withdraw-page{

padding:20px;

padding-bottom:120px;

color:white;

}



.withdraw-page h1{

text-align:center;

color:#ffd700;

font-size:30px;

text-shadow:
0 0 20px gold;

}





.withdraw-card{


margin-top:20px;


padding:25px;


border-radius:25px;


background:#111;


border:2px solid gold;


box-shadow:

0 0 25px rgba(255,215,0,.25);


}




.withdraw-card h2{


text-align:center;


color:#ffd700;


}





.withdraw-card p{


font-size:18px;

text-align:center;


}



.money{


color:#00ff88;


font-weight:bold;


}





.withdraw-card input,
.withdraw-card select{


width:100%;


height:50px;


margin-top:15px;


border-radius:15px;


border:1px solid gold;


background:#050505;


color:white;


padding:0 15px;


font-size:16px;


}





.withdraw-card button{


width:100%;


height:55px;


margin-top:20px;


border:none;


border-radius:25px;


font-size:18px;


font-weight:900;


background:

linear-gradient(
90deg,
#00ff88,
#008844
);


color:white;


}





@media(max-width:600px){


.withdraw-page{


padding:15px;


}



}

