.gold-fly{


position:fixed;


left:50%;


bottom:180px;


transform:translateX(-50%);



color:#ffd700;


font-size:24px;


font-weight:bold;


z-index:999;


animation:

goldUp 1.5s ease forwards;



text-shadow:

0 0 15px #ffd700;



}





@keyframes goldUp{


0%{


opacity:0;


transform:

translate(-50%,30px)
scale(.5);


}



30%{


opacity:1;


}



100%{


opacity:0;


transform:

translate(-50%,-150px)
scale(1.3);



}


}

