.upgrade-box{


background:#151515;


border:2px solid #ff9800;


border-radius:25px;


padding:20px;


margin:20px auto;


width:90%;


max-width:420px;


text-align:center;


color:white;



}



.upgrade-box h2{


color:#ffd700;


}



.robot-level{


font-size:22px;


margin:15px;


}



.robot-level strong{


color:#ff9800;


font-size:30px;


}



.upgrade-box p{


font-size:17px;


}



.upgrade-box button{


background:#ff9800;


border:none;


padding:15px;


border-radius:15px;


font-weight:bold;


width:100%;


cursor:pointer;



}



.upgrade-box button:disabled{


opacity:.5;


}

