.robot-box{


width:95%;

max-width:450px;

height:auto;

min-height:350px;


margin:20px auto;


padding:25px;


box-sizing:border-box;


background:

linear-gradient(

180deg,

#1b1b1b,

#080808

);



border-radius:30px;


border:2px solid #ffd700;


color:white;


text-align:center;


overflow:hidden;


box-shadow:

0 0 25px #ffd70055;



}






.robot-box h1{


color:#ffd700;


font-size:26px;


margin-bottom:10px;



}






.robot{


font-size:90px;


animation:

robotFloat 2s infinite;


filter:

drop-shadow(

0 0 15px #ffd700

);



}






.robot-info{


background:#111;


padding:20px;


border-radius:20px;


margin:20px 0;


border:1px solid #333;


}





.robot-info p{


margin:8px;


color:#aaa;


font-size:16px;


}





.robot-number{


font-size:28px;


font-weight:bold;


color:#ffd700;


overflow-wrap:anywhere;


word-break:break-word;



}





.progress-box{


margin:20px 0;


}




.progress{


width:100%;


height:25px;


background:#222;


border-radius:20px;


overflow:hidden;


border:1px solid #555;


}





.progress-fill{


height:100%;


background:

linear-gradient(

90deg,

#ff9800,

#ffd700

);



border-radius:20px;


transition:.5s;


box-shadow:

0 0 15px #ffd700;


}







.robot-box button{


width:100%;


padding:15px;


margin:10px 0;


border:none;


border-radius:18px;


font-size:17px;


font-weight:bold;


background:#ffd700;


color:#000;


cursor:pointer;


transition:.3s;



}





.robot-box button:hover{


transform:scale(1.03);


box-shadow:

0 0 20px #ffd700;



}






.robot-box button:disabled{


opacity:.5;


}








/* hiệu ứng robot */


@keyframes robotFloat{


0%{


transform:

translateY(0);


}



50%{


transform:

translateY(-12px);


}



100%{


transform:

translateY(0);


}



}








/* mobile */


@media(max-width:480px){



.robot-box{


width:98%;


padding:15px;


}



.robot{


font-size:70px;


}



.robot-number{


font-size:22px;


}



.robot-box h1{


font-size:22px;


}



}

