.announcement{

position:fixed;

top:8px;

left:50%;

transform:translateX(-50%);


width:55%;

max-width:550px;


height:32px;


background:

linear-gradient(
90deg,
#1a1000,
#000,
#1a1000
);



border:1px solid gold;


border-radius:18px;


z-index:3000;


display:flex;


align-items:center;


justify-content:center;


overflow:hidden;


box-shadow:

0 0 15px gold;


}



.announcement-text{


white-space:nowrap;


color:#ffd700;


font-size:13px;


font-weight:bold;


animation:

runningText 20s linear infinite;


}




@keyframes runningText{


from{

transform:translateX(100%);

}


to{

transform:translateX(-100%);

}


}




@media(max-width:600px){


.announcement{


width:85%;


height:30px;


}



.announcement-text{


font-size:11px;


}


}
