.asset-hud{


position:fixed;


top:60px;


left:12px;


width:150px;


display:flex;


flex-direction:column;


gap:8px;


z-index:2500;


}




.asset-card{


width:150px;


padding:10px;


border-radius:16px;


background:


linear-gradient(

145deg,

rgba(20,20,20,.95),

rgba(0,0,0,.85)

);



border:1px solid gold;


box-shadow:


0 0 15px rgba(255,215,0,.35);


backdrop-filter:blur(8px);



}



.asset-icon{


font-size:18px;


margin-right:5px;


}




.asset-value{


margin-top:4px;


font-size:15px;


font-weight:bold;


color:white;


text-align:center;


}





.gold{


border-color:#ffd700;


box-shadow:

0 0 18px gold;


}




.diamond{


border-color:#00ffff;


box-shadow:

0 0 18px cyan;


}




.money{


border-color:#00ff66;


box-shadow:

0 0 18px #00ff66;


}




.asset-up{


animation:

assetUp .5s;


}



.asset-down{


animation:

assetDown .5s;


}



@keyframes assetUp{


from{

transform:translateY(10px);

}


to{

transform:translateY(0);

}


}




@keyframes assetDown{


from{

transform:translateY(-10px);

}


to{

transform:translateY(0);

}


}





@media(max-width:600px){


.asset-hud{


top:55px;


left:8px;


width:125px;


}



.asset-card{


width:125px;


padding:8px;


}



.asset-value{


font-size:12px;


}



}
