.asset-bar{


position:fixed;


top:15px;


right:15px;


display:flex;


gap:10px;


z-index:9999;


}



.asset-card{


min-width:110px;


padding:10px 15px;


border-radius:25px;


background:

rgba(0,0,0,.75);


backdrop-filter:blur(15px);


display:flex;


flex-direction:column;


align-items:center;


color:white;


border:2px solid;


animation:floatAsset 3s infinite;


}



.asset-card span{


font-size:13px;


}



.asset-card strong{


font-size:18px;


margin-top:5px;


color:white;


}




.gold-card{


border-color:#ffd700;


box-shadow:

0 0 25px gold;


}



.gold-card strong{


color:#ffd700;


}




.diamond-card{


border-color:#00eaff;


box-shadow:

0 0 25px cyan;


}



.diamond-card strong{


color:#00eaff;


}





.vnd-card{


border-color:#00ff66;


box-shadow:

0 0 25px #00ff66;


}



.vnd-card strong{


color:#00ff66;


}





@keyframes floatAsset{


50%{

transform:translateY(-5px);

}


}

