.auto-mining{


margin:20px auto;


width:80%;


padding:15px;


border-radius:20px;


background:

linear-gradient(

90deg,

#111,

#332200

);



color:#ffd700;


font-weight:bold;


text-align:center;


border:1px solid gold;


box-shadow:

0 0 20px gold;


animation:

robotGlow 2s infinite;


}



@keyframes robotGlow{


50%{


transform:scale(1.03);


}



}

