.bottom-menu{


position:fixed;


left:50%;


bottom:-3px;


transform:translateX(-50%);



width:100%;


max-width:720px;



height:70px;



background:

linear-gradient(

180deg,

#171717,

#050505

);



border:1px solid #ffd700;


border-radius:25px 25px 0 0;



display:flex;


align-items:center;


justify-content:space-around;



z-index:9999;



box-shadow:

0 -5px 20px rgba(255,215,0,.15);



}





.bottom-menu a,


.menu-bottom-btn{


flex:1;



height:100%;



display:flex;


flex-direction:column;


justify-content:center;


align-items:center;



text-decoration:none;



background:none;


border:none;



color:white;



font-size:20px;



cursor:pointer;



}



.bottom-menu span{


font-weight:bold;


}



.bottom-menu .icon{


font-size:22px;


line-height:25px;


}



.bottom-menu a span:last-child,


.menu-bottom-btn span:last-child{


font-size:11px;


margin-top:3px;


}





.bottom-menu a:hover,


.menu-bottom-btn:hover{


color:#ffd700;


}




.admin-btn{


color:#ffd700!important;


}





@media(max-width:600px){



.bottom-menu{


height:65px;


border-radius:20px 20px 0 0;


}





.bottom-menu .icon{


font-size:19px;


}





.bottom-menu a span:last-child,


.menu-bottom-btn span:last-child{


font-size:10px;


}



}




