.bottom-menu{


position:fixed;


bottom:0;


left:0;


width:100%;


height:75px;



background:

rgba(15,15,15,.95);



backdrop-filter:

blur(10px);



display:flex;


justify-content:space-around;


align-items:center;



border-top:

1px solid #333;



z-index:9999;



padding:

5px;



box-sizing:border-box;



}







.bottom-menu button{


flex:1;



height:65px;



background:none;


border:none;



color:#aaa;



display:flex;



flex-direction:column;



justify-content:center;



align-items:center;



gap:4px;



font-size:12px;



cursor:pointer;



transition:.25s;



}





.bottom-menu button:hover,


.bottom-menu button:active{


color:#ffd700;



transform:

translateY(-5px);



}







.menu-icon{


font-size:28px;



line-height:30px;



}







.menu-text{


font-size:11px;



font-weight:bold;



}









@media(max-width:480px){



.bottom-menu{


height:70px;


}



.menu-icon{


font-size:24px;


}



.menu-text{


font-size:10px;


}




.bottom-menu button{


height:60px;


}



}





@media(max-width:360px){



.menu-icon{


font-size:21px;


}



.menu-text{


font-size:9px;


}



}

