.city-page{


padding:20px;

text-align:center;


background:

linear-gradient(

#241000,

#050505

);



min-height:600px;


}



.resource{


padding:15px;


background:

rgba(255,255,255,.1);


border-radius:20px;


}



.castle{


font-size:100px;


margin:30px;


animation:

castleGlow 3s infinite;


}



.tower{


font-size:60px;


}



.training-area{


margin:20px;


padding:30px;


background:

rgba(255,215,0,.15);


border:

1px solid gold;


border-radius:30px;


}



.character-field{


position:relative;


height:250px;



background:

linear-gradient(

#146b20,

#063b10

);



border-radius:30px;


overflow:hidden;



}




.walking-character{


position:absolute;


bottom:30px;


font-size:45px;



animation:

walkMove 5s infinite alternate;



}



.walking-character p{


font-size:12px;

color:white;


}



.walking-character button{


border-radius:50%;


border:none;


}



@keyframes walkMove{


0%{

transform:translateX(-20px);

}


50%{

transform:translateX(20px);

}


100%{

transform:translateX(-10px);

}


}



@keyframes castleGlow{


50%{

filter:drop-shadow(0 0 30px gold);

}


}



