.daily-container{

padding:20px;

}



.daily-title{

text-align:center;

font-size:28px;

font-weight:900;

color:#ffd700;

margin-bottom:25px;

}



.daily-box{

background:

linear-gradient(
145deg,
#161616,
#050505
);

border:1px solid #ffd700;

border-radius:20px;

padding:20px;

margin-bottom:25px;

box-shadow:

0 0 20px #ffd70033;

}



.daily-box h2{

text-align:center;

color:white;

}



.reward-list{

display:grid;

grid-template-columns:

repeat(2,1fr);

gap:12px;

}



.reward-card{

background:#111;

border-radius:15px;

padding:15px;

text-align:center;

border:1px solid #444;

color:white;

}



.reward-card strong{

display:block;

margin-top:8px;

color:#ffd700;

}



.vip-box{

border-color:#ff00cc;

}



.vip-card{

border-color:#ff00cc;

}



.claim-btn{

width:100%;

margin-top:20px;

padding:15px;

border-radius:30px;

border:none;

background:#ffd700;

font-size:18px;

font-weight:bold;

}



.vip-btn{

background:#ff00cc;

color:white;

}



.lock{

text-align:center;

padding:30px;

color:#999;

font-size:18px;

}



.vip-open{

text-align:center;

color:#00ff99;

font-weight:bold;

}



@media(max-width:600px){


.reward-list{

grid-template-columns:

1fr;

}


}

