.farm-animal-zone{


margin:20px;


padding:20px;



background:

rgba(255,255,255,.08);



backdrop-filter:

blur(20px);



border:

1px solid gold;



border-radius:30px;



box-shadow:

0 0 30px rgba(255,215,0,.4);



}



.farm-animal-zone h2{


text-align:center;


color:#ffd700;


}



.farm-grid{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:15px;


}



.farm-animal-card{


padding:20px;


text-align:center;



background:

rgba(0,0,0,.3);



border-radius:25px;



border:

1px solid orange;



animation:

animalMove 3s infinite;


}



.farm-animal-icon{


font-size:60px;


}



.food{


height:12px;


background:#333;


border-radius:20px;


overflow:hidden;


}



.food div{


height:100%;


background:

linear-gradient(

90deg,

lime,

gold

);


}



.farm-animal-card button{


padding:12px 20px;


border:none;


border-radius:20px;



background:

linear-gradient(

gold,

orange

);



font-weight:bold;


}



@keyframes animalMove{


50%{

transform:translateY(-6px);

}

}



@media(max-width:600px){


.farm-grid{


grid-template-columns:1fr;


}


}

