.farm-house{


margin:20px;


padding:20px;


background:

rgba(255,255,255,.08);



backdrop-filter:

blur(20px);



border:

1px solid gold;



border-radius:30px;



box-shadow:

0 0 30px gold;


}



.farm-yard{


height:180px;


position:relative;


overflow:hidden;



background:

linear-gradient(

#1b7a2a,

#064d15

);



border-radius:25px;



}



.animal-walk{


position:absolute;


bottom:20px;


font-size:50px;



animation:

walk 5s infinite alternate;


}



.second{


animation-delay:1s;

}


.third{


animation-delay:2s;

}



button{


margin:8px;


padding:12px 20px;


border:none;


border-radius:20px;


background:

linear-gradient(

gold,

orange

);



font-weight:bold;


}



@keyframes walk{


0%{

left:0;

}


50%{

left:45%;

}


100%{

left:80%;

}


}

