.floating-panels{

position:fixed;

inset:0;

pointer-events:none;

z-index:100;


}



.floating-panels > *{

pointer-events:auto;

}



.pin-button{

position:fixed;

right:18px;

bottom:250px;


width:48px;

height:48px;


border-radius:50%;


border:2px solid #ffd700;


background:

linear-gradient(

135deg,

#00ffd5,

#008f7a

);


font-size:24px;


z-index:300;


box-shadow:

0 0 15px #00ffd5;


}



.floating-mini{

position:fixed;

right:18px;

bottom:250px;

z-index:300;

}



.floating-mini .pin-button{

position:relative;

right:auto;

bottom:auto;

}



.left-cover-hide{

position:fixed;


left:0;


top:80px;


width:180px;


height:300px;


z-index:90;


background:

linear-gradient(

180deg,

rgba(5,5,5,.98),

rgba(15,10,0,.95)

);


border-radius:

0 20px 20px 0;


pointer-events:none;


}



