.games{


margin-top:30px;


}



.games h2{


color:#ffd700;


}



.game-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:12px;


}



.game-grid div{


background:#ffffff15;


padding:15px;


border-radius:20px;


text-align:center;


font-size:35px;


}



.game-grid p{


font-size:14px;


margin:5px;


}

