.game-header{

width:100%;

height:75px;

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 15px;

box-sizing:border-box;

background:

linear-gradient(
180deg,
#111,
#000
);

border-bottom:

2px solid #ffd700;

color:white;

position:relative;

z-index:10;

}



.player-info{

display:flex;

align-items:center;

gap:10px;

}



.avatar{

width:45px;

height:45px;

border-radius:50%;

background:#222;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

box-shadow:

0 0 15px gold;

}



.player-name{

font-weight:bold;

color:#fff;

font-size:15px;

}



.vip{

color:#ffd700;

font-size:13px;

}



.resource-box{

display:flex;

gap:12px;

font-size:13px;

text-align:center;

}



.resource-box div{

background:#111;

border:

1px solid gold;

border-radius:15px;

padding:5px 12px;

min-width:55px;

color:#ffd700;

}



@media(max-width:380px){

.game-header{

height:70px;

padding:8px;

}


.avatar{

width:38px;

height:38px;

}


.resource-box{

gap:5px;

}


.resource-box div{

padding:4px 8px;

font-size:11px;

}

}
