.gold-fall{


position:fixed;

top:120px;

font-size:25px;

z-index:10;

animation:fall 3s linear;


}



@keyframes fall{


from{

transform:translateY(0);

opacity:1;

}



to{

transform:translateY(500px);

opacity:0;

}


}

