.gold-fly{

position:fixed;

left:50%;

top:45%;


transform:translateX(-50%);


font-size:28px;


font-weight:900;


color:#ffd700;


z-index:99999;


text-shadow:
0 0 10px gold,
0 0 25px orange;


animation:
goldFly 1s forwards;


pointer-events:none;


}



@keyframes goldFly{


0%{

opacity:1;

transform:
translate(-50%,0)
scale(1);

}



100%{

opacity:0;

transform:
translate(-50%,-120px)
scale(1.3);

}


}
