.gold-robot-box{


margin:20px;


padding:25px;


border-radius:30px;


background:

linear-gradient(
145deg,
#171717,
#050505
);


border:2px solid #ffd700;


text-align:center;


color:white;


box-shadow:

0 0 25px rgba(255,215,0,.25);


}




.robot{


font-size:90px;


}



.robot.mining{


animation:

shake .4s infinite;


}




.gold-info{


font-size:28px;


color:#ffd700;


margin:15px;


}



.robot-buttons{


display:flex;


gap:10px;


}



.robot-buttons button{


flex:1;


height:45px;


border-radius:25px;


border:none;


background:#ffd700;


font-weight:bold;


}




@keyframes shake{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-8px);

}


100%{

transform:translateY(0);

}


}

