.gold-effect{

position:fixed;

top:0;

left:0;

right:0;

pointer-events:none;

z-index:99999;

}



.fly-gold{

position:absolute;

top:80px;

font-size:22px;

font-weight:900;

animation:fly 2s forwards;

}



@keyframes fly{


0%{

opacity:1;

transform:translateY(0) scale(1);

}



100%{

opacity:0;

transform:translateY(-250px) scale(1.5);

}


}

