.launch-notice{


position:fixed;


left:12px;


right:12px;


bottom:85px;



z-index:150;



height:120px;



padding:12px 15px;



border-radius:22px;



background:


linear-gradient(

180deg,

rgba(35,25,5,.92),

rgba(5,5,5,.96)

);



border:

2px solid #ffd700;



box-shadow:


0 0 20px rgba(255,215,0,.7),


inset 0 0 20px rgba(255,215,0,.15);



color:white;



overflow:hidden;



backdrop-filter:blur(8px);



}





.launch-notice h2{


margin:0;


text-align:center;


font-size:18px;


color:#ffd700;


font-weight:900;


}





.launch-notice p{


margin:2px;


text-align:center;


font-size:12px;


color:#fff;


}





.launch-notice hr{


margin:6px 0;


border:none;


border-top:1px solid rgba(255,215,0,.6);


}





.notice-item{


display:inline-block;


width:50%;


font-size:12px;


line-height:16px;


}





.notice-item span{


color:#00ffd5;


font-weight:900;


}





.notice-item small{


color:#ffd700;


}





.pin-btn{


position:absolute;


top:8px;


left:8px;



width:35px;


height:35px;



border-radius:50%;



border:2px solid #ffd700;



background:#00e6c3;



font-size:18px;



}





.pin-btn-open{


position:fixed;


left:15px;


bottom:140px;



width:45px;


height:45px;



border-radius:50%;



border:2px solid #ffd700;



background:#00e6c3;



font-size:22px;


z-index:200;



}

