.game-layout{

min-height:100vh;

background:#050505;

color:white;

}


.game-content{

padding-bottom:90px;

min-height:100vh;

overflow-x:hidden;

}


@media(max-width:430px){

.game-content{

width:100%;

}

}
