.left-cover-hide{

position:fixed;

left:0;

top:70px;

width:190px;

height:270px;

z-index:90;


background:

linear-gradient(

180deg,

rgba(5,5,5,.98),

rgba(10,10,10,.95)

);


border-radius:0 20px 20px 0;


}



