.main-menu{

position:fixed;

top:70px;

left:10px;

width:300px;

height:calc(100vh - 100px);

overflow-y:auto;

background:

linear-gradient(

180deg,

#020617,

#111827

);


border:3px solid gold;

border-radius:30px;

padding:20px;

z-index:9999;

box-shadow:

0 0 50px gold;

}



.menu-title{

font-size:25px;

font-weight:900;

color:#fde047;

text-align:center;

margin-bottom:20px;

}



.menu-item{

display:block;

width:100%;

margin:12px 0;

padding:18px;

border-radius:40px;

background:#1e293b;

border:2px solid gold;

color:white;

font-size:18px;

font-weight:900;

}



.menu-item:hover{

background:#facc15;

color:black;

}



.close-menu{

position:absolute;

right:15px;

top:10px;

border:none;

background:red;

color:white;

border-radius:50%;

width:35px;

height:35px;

}

