.menu-button{


position:fixed;


top:90px;

left:20px;


width:65px;

height:65px;


border-radius:50%;


border:2px solid gold;


background:#ffd900;


font-size:35px;


z-index:1000;


}



.side-menu{


position:fixed;


top:160px;

left:15px;


width:230px;


background:#100018;


border:2px solid gold;


border-radius:25px;


padding:20px;


z-index:999;


box-shadow:

0 0 30px gold;


}



.side-menu button{


width:100%;


margin:8px 0;


padding:15px;


border-radius:30px;


border:1px solid gold;


background:#21102d;


color:white;


font-weight:bold;


}


