.mining-box{


margin-top:25px;


padding:35px;


border-radius:30px;



background:

linear-gradient(
145deg,
#3b1900,
#050505
);



text-align:center;



box-shadow:

0 0 30px orange;



position:relative;


transition:.3s;


}



.mining-box.active{


animation:

shake .5s;


box-shadow:

0 0 80px gold;


}





.mine-icon{


font-size:100px;


animation:

float 2s infinite;


}




@keyframes float{


50%{


transform:

translateY(-15px);


}


}




@keyframes shake{


25%{


transform:

translateX(-10px);


}



50%{


transform:

translateX(10px);


}



75%{


transform:

translateX(-5px);


}



}





.gold-fly{


position:absolute;


top:10px;


left:50%;


transform:

translateX(-50%);



font-size:25px;


font-weight:bold;


color:#ffd700;



animation:

fly 1s;


}



@keyframes fly{


from{


opacity:1;


transform:

translate(-50%,0);


}



to{


opacity:0;


transform:

translate(-50%,-80px);


}


}





.mining-box h2{


color:#ffd700;


}



.mining-box h3{


font-size:35px;


color:#00ff66;


}





.mining-box button{


margin-top:15px;


padding:18px 50px;


border:0;


border-radius:40px;


font-size:18px;


font-weight:bold;


background:

linear-gradient(
45deg,
orange,
yellow
);


}

