.mining-panel{


margin-top:20px;


padding:25px;


border-radius:25px;


background:

linear-gradient(
145deg,
#291000,
#000
);


box-shadow:

0 0 25px gold;


}



.mining-panel h2{


color:#ffd700;


}



.mining-panel div{


padding:12px;


background:#ffffff15;


margin-top:10px;


border-radius:15px;


}



.mining-panel b{


color:#00ff66;


}



select{


padding:8px;


border-radius:15px;


background:#222;


color:white;


}

