.mine-effects{


position:fixed;


left:50%;


bottom:180px;


transform:translateX(-50%);


pointer-events:none;


z-index:5000;


}




.gold-fly{


position:absolute;


color:#ffd700;


font-size:25px;


font-weight:bold;


text-align:center;


animation:


goldFly 2s ease-out forwards;


text-shadow:

0 0 15px gold;


}





.gold-fly span{


font-size:40px;


animation:


animalJump .6s infinite;


}





@keyframes goldFly{


0%{


opacity:0;


transform:

translateY(50px)

scale(.5);


}



30%{


opacity:1;


}



100%{


opacity:0;


transform:

translateY(-220px)

scale(1.2);


}


}





@keyframes animalJump{


50%{


transform:

translateY(-15px);


}


}
