.menu-button{


position:fixed;


top:20px;


right:20px;


z-index:9999;



width:55px;


height:55px;



border-radius:50%;



border:none;



font-size:28px;



cursor:pointer;



background:

linear-gradient(

135deg,

#ffd700,

#ff8800

);



box-shadow:

0 0 25px gold;



transition:.4s;



}





.menu-button:hover{


transform:

rotate(180deg)

scale(1.1);



}




.menu-overlay{


position:fixed;


inset:0;



background:

rgba(0,0,0,.65);



backdrop-filter:

blur(5px);



z-index:999;


}





.side-menu{


position:fixed;



top:0;


right:-360px;



width:320px;



height:100vh;



z-index:1000;



overflow-y:auto;



padding-bottom:100px;



background:


linear-gradient(

145deg,

rgba(30,30,30,.95),

rgba(0,0,0,.85)

);



backdrop-filter:

blur(30px);



border-left:

2px solid gold;



box-shadow:


-20px 0 50px rgba(255,215,0,.4);



transition:

.5s cubic-bezier(.68,-.55,.27,1.55);



transform:

perspective(1000px)

rotateY(-25deg);



opacity:0;



}





.side-menu.active{


right:0;



transform:

perspective(1000px)

rotateY(0deg);



opacity:1;



}





.menu-title{


padding:25px;



display:flex;



justify-content:space-between;



align-items:center;



position:sticky;



top:0;



z-index:5;



background:


rgba(0,0,0,.6);



color:#ffd700;



font-size:22px;



}




.menu-title button{


background:none;



border:none;



color:white;



font-size:25px;



}




.menu-item{


display:flex;



align-items:center;



gap:15px;



margin:14px;



padding:16px;



border-radius:25px;



color:white;



text-decoration:none;



background:


rgba(255,255,255,.08);



border:


1px solid rgba(255,215,0,.35);



backdrop-filter:


blur(15px);



animation:


menuItem .5s ease;



transition:.3s;



}





.menu-item span{


font-size:30px;


}





.menu-item:hover{


transform:


translateX(-10px)

scale(1.05);



background:


rgba(255,215,0,.25);



box-shadow:


0 0 25px gold;



}





.side-menu::-webkit-scrollbar{


width:5px;


}



.side-menu::-webkit-scrollbar-thumb{


background:


linear-gradient(

gold,

orange

);



border-radius:20px;


}




@keyframes menuItem{


from{


opacity:0;


transform:

translateX(50px);



}


to{


opacity:1;


transform:

translateX(0);



}


}




@media(max-width:600px){


.side-menu{


width:85%;


}



}


.vip-menu{

background:
linear-gradient(
135deg,
#ffd700,
#ff8800
)!important;


color:#000!important;


font-weight:900;


box-shadow:
0 0 25px gold;


animation:
vipPulse 2s infinite;

}


@keyframes vipPulse{

50%{

transform:scale(1.05);

}

}


.vip-button{

background:

linear-gradient(

135deg,

#ffd700,

#ff8c00

)!important;


color:#000!important;


font-weight:900;


box-shadow:

0 0 30px gold;


animation:

vipLight 2s infinite;


}



@keyframes vipLight{


50%{


box-shadow:

0 0 50px #ffd700;


transform:scale(1.05);


}


}


.vip-button{

background:

linear-gradient(

135deg,

#ffd700,

#ff8c00

)!important;


color:#000!important;


font-weight:900;


box-shadow:

0 0 30px gold;


animation:

vipLight 2s infinite;


}



@keyframes vipLight{


50%{


box-shadow:

0 0 50px #ffd700;


transform:scale(1.05);


}


}

