.notice-box{


position:fixed;

top:0;

left:0;

width:100%;

height:35px;

background:#050505;

border-bottom:1px solid #ffd400;

overflow:hidden;

z-index:10001;

display:flex;

align-items:center;


}



.notice-run{


white-space:nowrap;

display:inline-block;

color:#ffd400;

font-size:14px;

font-weight:bold;

animation:noticeMove 25s linear infinite;


}



.notice-run span{


margin-right:30px;


}



@keyframes noticeMove{


from{

transform:translateX(100%);

}


to{

transform:translateX(-100%);

}


}


