.pet-box{


margin-top:20px;


padding:25px;


border-radius:25px;


background:

linear-gradient(
145deg,
#120900,
#3d1b00
);


box-shadow:

0 0 30px orange;


}



.pet-box h2{


color:#ffd700;


}



.pet-item{


display:flex;


justify-content:space-between;


align-items:center;


padding:12px;


margin-top:10px;


background:#ffffff15;


border-radius:15px;


}



.pet-item button,


.pet-box button{


padding:10px 20px;


border:0;


border-radius:20px;


background:

linear-gradient(
45deg,
orange,
yellow
);


font-weight:bold;


}

