.menu-button{


position:fixed;


top:18px;


left:15px;


z-index:9999;


width:50px;


height:50px;


border-radius:50%;


border:none;


background:#ffd700;


font-size:25px;


font-weight:bold;


}



.side-menu{


position:fixed;


top:0;


left:-300px;


width:280px;


height:100vh;


background:

linear-gradient(
180deg,
#181818,
#050505
);


z-index:9998;


transition:.35s;


padding-top:80px;


box-shadow:

10px 0 30px #000;


}



.side-menu.active{


left:0;


}







.menu-overlay{


position:fixed;


top:0;


left:0;


width:100%;


height:100%;


background:

rgba(0,0,0,.6);


z-index:9997;


}






.menu-user{


text-align:center;


padding:20px;


border-bottom:1px solid #333;


color:white;


}



.avatar{


font-size:50px;


}



.menu-user h3{


color:#ffd700;


margin:5px;


}




.menu-user p{


color:#aaa;


}







.menu-list{


padding:15px;


}






.menu-item{


height:50px;


display:flex;


align-items:center;


gap:15px;


padding:0 15px;


margin-top:8px;


border-radius:20px;


background:#111;


color:white;


font-weight:bold;


}



.menu-item:hover{


background:#ffd700;


color:#000;


}







.admin-area{


position:absolute;


bottom:30px;


left:20px;


right:20px;


height:50px;


display:flex;


align-items:center;


justify-content:center;


border-radius:25px;


background:

linear-gradient(
90deg,
#ff0000,
#ff9800
);


font-weight:bold;


color:white;


}

