.transaction-box{


margin-top:20px;


padding:20px;


border-radius:25px;


background:#000b;


box-shadow:

0 0 25px #00ff88;


}



.transaction-box h2{


text-align:center;


color:#ffd700;


}



.transaction-item{


margin-top:12px;


padding:15px;


border-radius:15px;


background:#ffffff12;


border-left:

4px solid gold;


}



.transaction-item p{


margin:5px;


}



.success{


color:#00ff66;


font-weight:bold;


}



