.user-avatar-box{

position:fixed;

top:165px;

left:50%;

transform:translateX(-50%);

z-index:2600;

display:flex;

flex-direction:column;

align-items:center;

}




.avatar-vip-ring{


width:90px;

height:90px;

border-radius:50%;

padding:5px;


background:

linear-gradient(

45deg,

#ffd700,

#ff8c00,

#fff000

);



box-shadow:

0 0 30px gold;



animation:

vipRotate 4s linear infinite;


}



.avatar-vip-ring img{


width:100%;

height:100%;


border-radius:50%;


object-fit:cover;


border:

3px solid #111;


}





.vip-badge{


margin-top:8px;


padding:

6px 20px;


border-radius:20px;


background:

linear-gradient(

90deg,

#ffd700,

#ff9900

);



color:#000;


font-weight:bold;


box-shadow:

0 0 20px gold;


}




.vip-10 .avatar-vip-ring{


background:

linear-gradient(

45deg,

#00ffff,

#0066ff,

purple

);



box-shadow:

0 0 40px cyan;


}




.vip-20 .avatar-vip-ring{


background:

linear-gradient(

45deg,

gold,

red,

purple,

cyan

);



box-shadow:

0 0 60px violet;


animation:

maxVip 1.5s infinite;


}




@keyframes vipRotate{


100%{


filter:

hue-rotate(360deg);


}


}




@keyframes maxVip{


50%{


transform:scale(1.08);


}


}





@media(max-width:600px){


.avatar-vip-box{


top:150px;


}



.avatar-vip-ring{


width:70px;

height:70px;


}



}
