.withdraw-rule{


margin:18px;


padding:22px;


border-radius:28px;


background:

linear-gradient(

145deg,

#241000,

#000

);


border:

2px solid #ffd700;


box-shadow:

0 0 30px rgba(255,215,0,.45);


color:white;


}



.withdraw-rule h3{


text-align:center;


color:#ffd700;


font-size:21px;


}



.formula{


margin:15px 0;


padding:18px;


text-align:center;


border-radius:20px;


background:

rgba(255,215,0,.1);


border:

1px solid #ffd700;


font-size:18px;


font-weight:bold;


line-height:1.8;


}



.rule-item{


margin-top:12px;


padding:14px;


border-radius:15px;


background:

rgba(0,255,136,.12);


color:#00ff88;


font-weight:bold;


}



.danger{


margin-top:15px;


padding:15px;


border-radius:15px;


background:

rgba(255,0,0,.15);


border:

1px solid red;


color:#ff7777;


text-align:center;


font-weight:bold;


}


