*{
box-sizing:border-box;
}


html,
body,
#root{

margin:0;
padding:0;
width:100%;
min-height:100%;

font-family:
Arial,
sans-serif;

}



body{

background-image:

url("./game-bg.png");


background-size:

cover;


background-position:

center;


background-repeat:

no-repeat;


background-attachment:

fixed;


background-color:#000;

}




.app-container{

min-height:100vh;

width:100%;

position:relative;

overflow-x:hidden;


background:

linear-gradient(

180deg,

rgba(0,0,0,0.20),

rgba(0,0,0,0.70)

);

}




.app-container::before{

content:"";

position:fixed;

inset:0;


background:

radial-gradient(

circle at center,

rgba(255,215,0,0.18),

transparent 45%

);


pointer-events:none;

z-index:0;

}




button{

font-family:inherit;

cursor:pointer;

}




@media(max-width:600px){

body{

background-position:center;

background-size:auto 100%;

}


.app-container{

background:

linear-gradient(

180deg,

rgba(0,0,0,0.15),

rgba(0,0,0,0.75)

);

}

}

.asset-bar{

position:fixed;

top:15px;

right:15px;

z-index:9999;

display:flex;

flex-direction:column;

gap:8px;

}



.asset{

min-width:130px;

height:42px;

padding:5px 12px;

border-radius:15px;

display:flex;

align-items:center;

gap:10px;

background:

rgba(10,15,25,.85);

border:1px solid #fff;

backdrop-filter:blur(10px);

font-weight:900;

box-shadow:

0 0 15px rgba(255,255,255,.25);

}



.asset span{

display:flex;

flex-direction:column;

font-size:12px;

}



.asset b{

font-size:16px;

}



.gold{

border-color:#ffd700;

color:#ffd700;

}



.diamond{

border-color:#00eaff;

color:#00eaff;

}



.vnd{

border-color:#00ff88;

color:#00ff88;

}



@media(max-width:600px){

.asset-bar{

right:8px;

top:8px;

}



.asset{

min-width:105px;

height:36px;

}

}

