* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #050505;
  font-family: "Arial", sans-serif;
  color: white;
}


.home-page {

  min-height:100vh;
  width:100%;
  overflow:hidden;
  background:#050505;

}



.home-background {

  min-height:calc(100vh - 120px);
  padding:20px 15px 100px;

  background:

  radial-gradient(
    circle at top,
    rgba(255,215,0,.25),
    transparent 35%
  ),

  linear-gradient(
    180deg,
    #111,
    #020202
  );

}



.game-title {

  text-align:center;

  font-size:32px;

  font-weight:900;

  color:#ffd700;

  text-shadow:

  0 0 10px #ffd700,

  0 0 30px #ff9800;

  margin-top:20px;

}





.mine-box {

  margin:30px auto;

  width:90%;

  max-width:380px;

  height:300px;

  border-radius:30px;

  border:2px solid #ffd700;

  background:

  linear-gradient(
    145deg,
    #090909,
    #171717
  );

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  position:relative;

  box-shadow:

  0 0 20px rgba(255,215,0,.5);

}





.gold-pile {

  font-size:90px;

  animation:

  miningFloat 2s infinite ease-in-out;

}





@keyframes miningFloat {


  0% {

    transform:translateY(0);

  }


  50% {

    transform:translateY(-15px);

  }


  100% {

    transform:translateY(0);

  }

}





.mine-button {

  margin-top:20px;

  width:180px;

  height:60px;

  border-radius:30px;

  border:none;

  background:

  linear-gradient(
    90deg,
    #ffcc00,
    #ff8800
  );

  color:#000;

  font-size:18px;

  font-weight:900;

  cursor:pointer;

  display:flex;

  gap:10px;

  justify-content:center;

  align-items:center;

  box-shadow:

  0 0 20px #ffcc00;

}





.mine-button.active {

  transform:scale(.95);

  filter:brightness(1.3);

}





.gold-fly {

  position:absolute;

  top:40px;

  color:#ffd700;

  font-size:24px;

  font-weight:900;

  animation:

  goldFly 1.5s forwards;

}





@keyframes goldFly {


  from {

    opacity:1;

    transform:translateY(0);

  }


  to {

    opacity:0;

    transform:translateY(-120px);

  }

}





.home-stats {

  display:flex;

  gap:12px;

  justify-content:center;

}





.stat-card {

  width:45%;

  padding:15px;

  background:#111;

  border:

  1px solid #444;

  border-radius:18px;

  text-align:center;

}





.stat-card small {

  display:block;

  color:#aaa;

  margin-top:8px;

}





.stat-card b {

  color:#ffd700;

}





.quick-actions {

  margin-top:25px;

  display:grid;

  grid-template-columns:

  repeat(4,1fr);

  gap:10px;

}





.quick-actions button {

  height:75px;

  border-radius:18px;

  border:

  1px solid #333;

  background:#111;

  color:white;

  font-size:14px;

  font-weight:bold;

}





.quick-actions button:hover {

  border-color:#ffd700;

  color:#ffd700;

}





@media(max-width:500px){


.game-title{

 font-size:26px;

}


.mine-box{

 height:260px;

}


.quick-actions button{

 font-size:12px;

}


}





.game-header{

position:relative;

top:0;

width:100%;

padding:12px;

display:flex;

flex-direction:column;

gap:12px;

background:

linear-gradient(
180deg,
#111,
transparent
);

z-index:10;

}



.header-logo{

display:flex;

justify-content:center;

align-items:center;

gap:8px;

font-size:22px;

font-weight:900;

color:#ffd700;

text-shadow:

0 0 15px #ffb300;

}



.header-resource{

display:flex;

justify-content:center;

gap:8px;

}



.resource-box{

flex:1;

max-width:120px;

display:flex;

align-items:center;

justify-content:center;

gap:5px;

padding:8px;

background:#151515;

border-radius:15px;

border:1px solid #333;

box-shadow:

0 0 10px rgba(255,215,0,.2);

}



.resource-box small{

display:block;

font-size:10px;

color:#aaa;

}



.resource-box b{

display:block;

color:#ffd700;

font-size:13px;

}



.vip-box{

border-color:#ffd700;

}


.bottom-menu{

position:fixed;

bottom:0;

left:0;

right:0;

height:75px;

background:

linear-gradient(
180deg,
#151515,
#050505
);


border-top:

1px solid #333;


display:flex;

justify-content:space-around;

align-items:center;

z-index:999;


}



.bottom-item{

flex:1;

height:65px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-decoration:none;

color:#777;

transition:.3s;

}



.menu-icon{

font-size:25px;

}



.menu-name{

font-size:12px;

margin-top:4px;

font-weight:bold;

}



.bottom-item.active{

color:#ffd700;

transform:translateY(-8px);

}



.bottom-item.active .menu-icon{

filter:

drop-shadow(
0 0 10px #ffd700
);


}



.bottom-item:hover{

color:#ffd700;

}


.mine-page{

min-height:100vh;

background:

radial-gradient(
circle,
rgba(255,215,0,.15),
transparent 40%
),

#050505;


padding-bottom:90px;

}



.mine-container{

padding:20px;

text-align:center;

}



.mine-container h1{

color:#ffd700;

text-shadow:

0 0 15px #ff9800;

}



.mine-area{

height:360px;

border-radius:30px;

background:#111;

border:

2px solid #ffd700;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

position:relative;

box-shadow:

0 0 25px rgba(255,215,0,.4);

}



.mine-icon{

font-size:100px;

animation:

mineShake 1s infinite;

}



@keyframes mineShake{


0%{

transform:rotate(0);

}


50%{

transform:rotate(5deg);

}


100%{

transform:rotate(0);

}


}




.big-mine-button{

margin-top:25px;

width:220px;

height:70px;

border-radius:40px;

border:none;

font-size:22px;

font-weight:900;

background:

linear-gradient(

90deg,

#ffd700,

#ff8800

);


box-shadow:

0 0 25px #ffd700;


}



.mine-effect{

position:absolute;

top:80px;

font-size:30px;

font-weight:bold;

color:#ffd700;

animation:

mineGoldFly 1.2s forwards;

}



@keyframes mineGoldFly{


from{

opacity:1;

transform:translateY(0);

}


to{

opacity:0;

transform:translateY(-130px);

}


}




.energy-box{

margin-top:20px;

padding:15px;

background:#151515;

border-radius:20px;

border:1px solid #333;

color:#fff;

}



.energy-box b{

color:#ffd700;

}




.mine-info{

margin-top:20px;

display:flex;

gap:15px;

}



.mine-info div{

flex:1;

background:#111;

padding:15px;

border-radius:20px;

border:1px solid #333;

font-size:14px;

}



.mine-info b{

color:#ffd700;

}


.farm-page{

min-height:100vh;

background:

radial-gradient(
circle,
rgba(0,255,120,.15),
transparent 40%
),

#050505;

padding-bottom:90px;

}



.farm-container{

padding:20px;

text-align:center;

}



.farm-container h1{

color:#ffd700;

text-shadow:

0 0 15px #ff9800;

}



.pet-box{

margin-top:20px;

background:#111;

border:2px solid #ffd700;

border-radius:30px;

padding:25px;

box-shadow:

0 0 20px rgba(255,215,0,.3);

}



.pet-avatar{

font-size:100px;

animation:

petFloat 2s infinite;

}



@keyframes petFloat{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}



.pet-exp{

height:18px;

background:#333;

border-radius:20px;

overflow:hidden;

margin:20px 0;

}



.pet-exp-bar{

height:100%;

background:

linear-gradient(
90deg,
#00ff88,
#ffd700
);

}



.pet-actions{

display:flex;

gap:15px;

}



.pet-actions button{

flex:1;

height:55px;

border-radius:25px;

border:none;

font-weight:bold;

background:

linear-gradient(
90deg,
#ffd700,
#ff9800
);

}



.farm-info{

display:flex;

gap:15px;

margin-top:20px;

}



.farm-info div{

flex:1;

background:#111;

padding:15px;

border-radius:20px;

border:1px solid #333;

}



.farm-info b{

color:#ffd700;

}


.mobile-app{

max-width:430px;

margin:auto;

min-height:100vh;

background:#080808;

color:white;

}



.header{

height:60px;

display:flex;

align-items:center;

justify-content:space-between;

padding:10px 15px;

background:#151515;

position:sticky;

top:0;

z-index:50;

}



.menu-btn{

font-size:28px;

background:none;

border:none;

color:white;

}



.logo{

font-weight:bold;

font-size:16px;

}



.wallet-mini{

background:#222;

padding:8px 12px;

border-radius:20px;

color:#ffd700;

}



.drawer{

position:fixed;

top:0;

left:0;

height:100vh;

width:280px;

background:#111;

z-index:200;

padding:15px;

box-shadow:0 0 20px #000;

}



.drawer-title{

display:flex;

justify-content:space-between;

font-size:18px;

font-weight:bold;

padding-bottom:20px;

}



.drawer-title button{

background:none;

border:none;

color:white;

font-size:22px;

}



.drawer-item{

padding:16px;

border-bottom:1px solid #333;

font-size:17px;

}



.announcement{

height:35px;

overflow:hidden;

white-space:nowrap;

background:#202020;

color:#ffd700;

padding:8px;

font-size:13px;

}



main{

padding-bottom:80px;

}


.bottom-menu{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);


width:100%;

max-width:430px;


height:70px;


background:#151515;


display:flex;

justify-content:space-around;


border-top:1px solid #333;


z-index:100;

}



.bottom-menu button{


flex:1;


background:none;

border:none;


color:white;


display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


font-size:22px;


}



.bottom-menu small{


font-size:11px;

margin-top:4px;


}



.page-content{

padding-bottom:90px;

}


@media(max-width:430px){


.mobile-app{

width:100%;

}


}


.home-page{

padding:15px;

position:relative;

}



.profile-card,

.wallet-card,

.mine-card{

background:#171717;

border-radius:18px;

padding:15px;

margin-bottom:15px;

box-shadow:0 0 15px #000;

}



.wallet-card{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

text-align:center;

}



.wallet-card h2{

color:#ffd700;

font-size:16px;

}



.mine-card{

text-align:center;

}



.mine-card button{


width:100%;

height:55px;

border-radius:30px;

border:none;

background:#ffd700;

font-size:20px;

font-weight:bold;


}



.feature-grid{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;


}



.feature-grid button{


height:75px;

background:#222;

border:none;

border-radius:15px;

color:white;

font-size:15px;


}



.pet-follow{


position:fixed;

right:15px;

bottom:120px;


z-index:30;


background:#222;

padding:8px;

border-radius:15px;


text-align:center;


font-size:12px;


animation:petMove 2s infinite;


}



.pet-follow img{


width:55px;

height:55px;

object-fit:contain;


}



.pet-follow span{


display:block;

color:#ffd700;

}



@keyframes petMove{


50%{

transform:translateY(-8px);

}


}


@media(max-width:380px){


.wallet-card{


grid-template-columns:1fr;


}



.feature-grid{


grid-template-columns:repeat(2,1fr);

}


}


.wallet-page{

padding:15px;

}



.wallet-box{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

margin-bottom:20px;

}



.wallet-box div{

background:#181818;

padding:15px;

border-radius:18px;

text-align:center;

}



.wallet-box strong{

display:block;

margin-top:8px;

color:#ffd700;

font-size:18px;

}



.wallet-switch{

display:flex;

gap:10px;

margin-bottom:15px;

}



.wallet-switch button{

flex:1;

height:45px;

border-radius:25px;

border:none;

background:#ffd700;

}



.wallet-form{

background:#171717;

padding:15px;

border-radius:18px;

}



.wallet-form input,

.wallet-form select{

width:100%;

height:48px;

margin-bottom:12px;

border-radius:12px;

border:none;

padding:10px;

font-size:15px;

}



.wallet-form button{

width:100%;

height:50px;

border-radius:25px;

border:none;

background:#00c853;

color:white;

font-size:17px;

}



@media(max-width:380px){


.wallet-box{

grid-template-columns:1fr;

}


}


.vip-page{

padding:15px;

}



.vip-note{

background:#222;

padding:10px;

border-radius:15px;

color:#ffd700;

}



.vip-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

margin-top:15px;

}



.vip-card{

background:#181818;

border-radius:18px;

padding:15px;

text-align:center;

}



.vip-title{

font-size:18px;

color:#ffd700;

font-weight:bold;

}



.vip-price{

margin:15px 0;

font-size:15px;

}



.vip-card button{


width:100%;

height:42px;

border-radius:25px;

border:none;

background:#ffd700;

font-weight:bold;

}



@media(max-width:380px){


.vip-grid{

grid-template-columns:1fr;

}


}


.payment-box{

background:#171717;

padding:15px;

border-radius:18px;

margin-top:15px;

}



.bank-info{

background:#222;

padding:15px;

border-radius:15px;

color:#ffd700;

}



.warning{

margin:15px 0;

padding:12px;

border-radius:12px;

background:#4a1c00;

color:#ffcc00;

}



.content-copy{

background:#000;

padding:15px;

border-radius:12px;

color:#00ff88;

font-weight:bold;

margin:10px 0;

word-break:break-word;

}



.payment-box input,

.payment-box select{

width:100%;

height:48px;

margin-top:12px;

border-radius:12px;

border:none;

padding:10px;

}



.payment-box button{

width:100%;

height:45px;

margin-top:12px;

border-radius:25px;

border:none;

background:#ffd700;

}



.upload-box{

height:100px;

margin-top:15px;

border:2px dashed #555;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

}



.submit-payment{

background:#00c853!important;

color:white;

font-size:16px;

}


.admin-bank-card{


background:

linear-gradient(

145deg,

#1d1d1d,

#101010

);


border-radius:22px;


padding:18px;


margin-bottom:15px;


border:

1px solid rgba(255,215,0,0.3);


box-shadow:

0 0 20px rgba(255,215,0,0.15);


}




.admin-bank-header{


font-size:16px;


font-weight:bold;


color:#ffd700;


margin-bottom:15px;


text-align:center;


}




.bank-logo{


width:70px;


height:70px;


margin:auto;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


background:#ffd700;


color:#111;


font-weight:bold;


font-size:20px;


margin-bottom:15px;


}





.bank-row{


background:#181818;


padding:12px;


border-radius:14px;


margin-top:10px;


display:flex;


flex-direction:column;


gap:5px;


}




.bank-row span{


font-size:13px;


color:#aaa;


}




.bank-row strong{


font-size:16px;


color:white;


}




.copy-bank{


margin-top:15px;


background:#ffd700!important;


color:#111;


font-weight:bold;


}





.wallet-tabs{

display:flex;

gap:10px;

margin:15px 0;

}


.wallet-tabs button{

flex:1;

height:45px;

border-radius:25px;

border:none;

background:#ffd700;

}



.withdraw-limit{

background:#222;

padding:15px;

border-radius:15px;

text-align:center;

color:#ffd700;

margin-bottom:15px;

}



.income-source{

background:#222;

padding:15px;

border-radius:15px;

margin-top:15px;

line-height:28px;

}


.admin-bank-card{

background:#111;

padding:15px;

border-radius:20px;

border:1px solid #ffd700;

}



.pet-page{

padding:15px;

}



.active-pet{

background:#181818;

border-radius:20px;

padding:20px;

text-align:center;

color:#ffd700;

margin-bottom:15px;

font-size:18px;

}



.pet-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

}



.pet-card{

background:#181818;

border-radius:18px;

padding:15px;

text-align:center;

}



.pet-image{

height:80px;

display:flex;

align-items:center;

justify-content:center;

font-size:18px;

}



.pet-card button,

.fusion-btn,

.buy-pet{


width:100%;

height:45px;

border:none;

border-radius:25px;

background:#ffd700;

font-weight:bold;

}



.fusion-page{

padding:15px;

text-align:center;

}



.fusion-box{

display:flex;

gap:20px;

justify-content:center;

margin:30px 0;

}



.fusion-slot{

width:120px;

height:120px;

background:#222;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

font-size:40px;

}



@media(max-width:380px){

.pet-grid{

grid-template-columns:1fr;

}

}


.game-page,

.pvp-page{

padding:15px;

}



.game-tabs{

display:flex;

gap:8px;

margin-bottom:15px;

}



.game-tabs button{

flex:1;

height:40px;

border-radius:20px;

border:none;

background:#ffd700;

}



.game-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

}



.game-card{


background:#181818;

border-radius:18px;

padding:15px;

text-align:center;


}



.game-card h3{

color:#ffd700;

font-size:16px;

}



.game-card button,

.pvp-page button{

width:100%;

height:45px;

border-radius:25px;

border:none;

background:#00c853;

color:white;

font-weight:bold;

}



.battle-card,

.rank-box{

background:#181818;

padding:20px;

border-radius:20px;

text-align:center;

margin-bottom:15px;

}



@media(max-width:380px){

.game-grid{

grid-template-columns:1fr;

}

}


.investment-page{

padding:15px;

}



.market-filter{

display:flex;

gap:10px;

margin-bottom:15px;

}



.market-filter button{

flex:1;

height:42px;

border:none;

border-radius:22px;

background:#ffd700;

}



.market-card{

background:#181818;

padding:15px;

border-radius:18px;

margin-bottom:12px;

}



.market-price{

font-size:22px;

font-weight:bold;

color:white;

}



.up{

color:#00e676;

}



.trade-btn{

display:flex;

gap:10px;

margin-top:15px;

}



.trade-btn button{


flex:1;

height:42px;

border-radius:20px;

border:none;

}



.trade-btn button:first-child{

background:#00c853;

color:white;

}



.trade-btn button:last-child{

background:#ff1744;

color:white;

}



.order-box{

background:#181818;

padding:20px;

border-radius:18px;

text-align:center;

}




.drawer-item{

width:100%;

background:none;

border:none;

color:white;

text-align:left;

padding:15px;

font-size:17px;

display:flex;

gap:12px;

}


.page-placeholder{

padding:30px;

text-align:center;

font-size:25px;

color:#ffd700;

}



.drawer{

position:fixed;

top:0;

left:0;

width:300px;

height:100vh;

background:#111;

z-index:999;

padding:15px;


}



.drawer-list{

height:calc(100vh - 80px);

overflow-y:auto;

}



.drawer-item{

width:100%;

height:55px;

border-radius:12px;

margin-bottom:8px;

background:#1c1c1c;

border:none;

color:white;

font-size:16px;

display:flex;

align-items:center;

gap:12px;

padding:0 15px;

}



.drawer-item:hover{

background:#333;

}



.bottom-menu{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:430px;

height:70px;

background:#151515;

display:flex;

z-index:500;

}



.bottom-menu button{

flex:1;

border:none;

background:none;

color:white;

}



.bottom-menu small{

font-size:11px;

}



@media(max-width:430px){

.drawer{

width:85%;

}

}


.admin-page{

padding:15px;

}



.admin-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

}



.admin-grid button{


height:70px;

background:#181818;

color:white;

border:none;

border-radius:18px;

font-size:15px;


}



.admin-grid button:hover{

background:#ffd700;

color:#111;

}



@media(max-width:380px){

.admin-grid{

grid-template-columns:1fr;

}

}



.mobile-app{

min-height:100vh;

background:#090909;

color:white;

}



.app-content{

padding-top:70px;

padding-bottom:90px;

}




.main-header{


position:fixed;

top:0;

left:0;

right:0;

height:65px;

background:#111;

z-index:800;


display:flex;

align-items:center;

justify-content:space-between;

padding:0 12px;


border-bottom:1px solid #333;


}




.hamburger-btn{


width:45px;

height:45px;

border-radius:50%;

border:none;

background:#ffd700;

font-size:22px;


}



.header-logo{


color:#ffd700;

font-weight:bold;

font-size:22px;


}




.header-info{


display:flex;

gap:8px;

font-size:12px;


}



.header-info div{


background:#222;

padding:7px;

border-radius:12px;


}




.bottom-menu button strong{


display:block;

font-size:22px;


}





.home-page{

padding:15px;

}



.gold-mining-box{


background:

linear-gradient(

145deg,

#221800,

#111

);


border-radius:22px;

padding:20px;

text-align:center;


border:1px solid #ffd700;


}



.gold-number{


font-size:30px;

color:#ffd700;

margin:15px;


}



.gold-mining-box button{


width:100%;

height:48px;

border-radius:25px;

border:none;

background:#ffd700;

font-weight:bold;


}



.quick-grid{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:12px;

margin-top:20px;


}



.quick-grid button{


height:90px;

border:none;

border-radius:18px;

background:#181818;

color:white;


}



.quick-grid div{


font-size:28px;

}



.quick-grid span{


font-size:13px;

}



.pet-follow-box{


margin-top:20px;

background:#181818;

padding:20px;

border-radius:20px;

text-align:center;

color:#ffd700;


}



@media(max-width:380px){


.quick-grid{

grid-template-columns:repeat(2,1fr);

}


}



.game-page{

padding:15px;

}



.game-category{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:8px;

}



.game-category button{


background:#181818;

color:white;

border:none;

border-radius:15px;

height:80px;


}



.game-category div{

font-size:25px;

}



.game-category span{

font-size:11px;

}



.game-grid{


display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;


}



.game-card{


background:#181818;

border-radius:20px;

padding:15px;

text-align:center;


}



.game-icon{


font-size:45px;


}



.game-card button{


width:100%;

height:42px;

border-radius:20px;

border:none;

background:#00c853;

color:white;

font-weight:bold;


}



.game-money-box{


margin-top:20px;

padding:20px;

background:#222;

border-radius:20px;

text-align:center;

color:#ffd700;


}



@media(max-width:380px){


.game-category{

grid-template-columns:repeat(2,1fr);

}


.game-grid{

grid-template-columns:1fr;

}


}



.pet-page{

padding:15px;

}



.pet-follow{

background:#181818;

border-radius:22px;

padding:20px;

text-align:center;

border:1px solid #ffd700;

}



.follow-pet{

font-size:70px;

}



.pet-status{

background:#222;

padding:15px;

border-radius:18px;

margin-top:15px;

}



.bar{

height:12px;

background:#333;

border-radius:20px;

margin:8px 0 15px;

overflow:hidden;

}



.bar div{

height:100%;

width:80%;

background:#ff1744;

}



.energy div{

width:60%;

background:#00c853;

}




.pet-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;

}



.pet-card{

background:#181818;

padding:15px;

border-radius:18px;

text-align:center;

}



.pet-icon{

font-size:50px;

}



.pet-card button{

width:100%;

height:40px;

border:none;

border-radius:20px;

background:#ffd700;

}



.pet-action{

display:flex;

gap:10px;

margin-top:20px;

}



.pet-action button{

flex:1;

height:45px;

border:none;

border-radius:25px;

background:#ffd700;

font-weight:bold;

}



@media(max-width:380px){

.pet-grid{

grid-template-columns:1fr;

}

}



.fusion-page{

padding:15px;

text-align:center;

}



.fusion-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin:25px 0;

}



.fusion-slot{


height:130px;

background:#181818;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

font-size:25px;

border:1px dashed #ffd700;


}



.fusion-main,

.buy-fusion{


width:100%;

height:48px;

border:none;

border-radius:25px;

margin-top:12px;

background:#ffd700;

font-weight:bold;


}



.buy-fusion{

background:#00c853;

color:white;

}



.fusion-info{


background:#181818;

padding:20px;

border-radius:20px;

margin-top:20px;

color:#ffd700;


}




.fusion-page{

padding:15px;

text-align:center;

}



.fusion-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin:25px 0;

}



.fusion-slot{


height:130px;

background:#181818;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

font-size:25px;

border:1px dashed #ffd700;


}



.fusion-main,

.buy-fusion{


width:100%;

height:48px;

border:none;

border-radius:25px;

margin-top:12px;

background:#ffd700;

font-weight:bold;


}



.buy-fusion{

background:#00c853;

color:white;

}



.fusion-info{


background:#181818;

padding:20px;

border-radius:20px;

margin-top:20px;

color:#ffd700;


}




.vip-page{

padding:15px;

}



.vip-current{


background:#181818;

border-radius:22px;

padding:20px;

text-align:center;

color:#ffd700;


}




.vip-grid{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;


}



.vip-grid button{


height:45px;

border-radius:20px;

border:none;

background:#181818;

color:white;


}



.vip-grid .vip-active{


background:#ffd700;

color:#111;

font-weight:bold;


}



.vip-detail{


margin-top:20px;

background:#181818;

border-radius:20px;

padding:20px;

text-align:center;


}



.buy-vip{


width:100%;

height:50px;

margin-top:20px;

border:none;

border-radius:25px;

background:#ffd700;

font-weight:bold;

font-size:16px;


}



@media(max-width:380px){


.vip-grid{

grid-template-columns:repeat(2,1fr);

}


}



.investment-page{

padding:15px;

}



.investment-tabs{


display:flex;

gap:8px;


}



.investment-tabs button{


flex:1;

height:42px;

border:none;

border-radius:22px;

background:#ffd700;


}




.stock-card{


background:#181818;

padding:15px;

border-radius:20px;

margin-top:12px;


}



.stock-action{


display:flex;

gap:10px;


}



.stock-action button{


flex:1;

height:42px;

border:none;

border-radius:20px;


}



.stock-action button:first-child{

background:#00c853;

color:white;

}



.stock-action button:last-child{

background:#ff1744;

color:white;

}





.trade-box,

.history-box{


background:#181818;

padding:20px;

border-radius:20px;

margin-top:20px;


}



.trade-box input{


width:100%;

height:45px;

margin-top:10px;

border-radius:15px;

border:none;

padding:10px;


}



.trade-box button{


width:100%;

height:45px;

margin-top:15px;

border-radius:25px;

border:none;

background:#ffd700;

font-weight:bold;


}



.smm-page{

padding:15px;

}



.smm-grid{


display:grid;

grid-template-columns:repeat(2,1fr);

gap:12px;


}



.smm-grid button{


height:90px;

background:#181818;

color:white;

border:none;

border-radius:18px;


}



.smm-grid div{

font-size:30px;

}



.smm-grid span{

font-size:13px;

}



.smm-active{


background:#ffd700 !important;

color:#111 !important;


}



.smm-order,

.smm-history{


margin-top:20px;

background:#181818;

padding:20px;

border-radius:20px;


}



.smm-order input{


width:100%;

height:45px;

margin-top:10px;

border:none;

border-radius:15px;

padding:10px;


}



.smm-order button{


width:100%;

height:48px;

margin-top:15px;

border:none;

border-radius:25px;

background:#00c853;

color:white;

font-weight:bold;


}



@media(max-width:380px){


.smm-grid{

grid-template-columns:1fr;

}


}



.wallet-page{

padding:15px;

}



.balance-box{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;


}



.balance-box div{


background:#181818;

border-radius:18px;

padding:10px;

text-align:center;

}



.balance-box h2{


color:#ffd700;

}



.wallet-tabs{


display:flex;

gap:10px;

margin:20px 0;


}



.wallet-tabs button{


flex:1;

height:45px;

border:none;

border-radius:25px;

background:#ffd700;

font-weight:bold;


}



.deposit-box,

.withdraw-box{


background:#181818;

padding:20px;

border-radius:22px;


}



.admin-bank{


background:#222;

padding:15px;

border-radius:15px;

border:1px solid #ffd700;


}



.transfer-code{


background:#000;

color:#ffd700;

padding:15px;

border-radius:15px;

text-align:center;

font-weight:bold;


}



.wallet-page input,

.wallet-page select{


width:100%;

height:45px;

margin-top:12px;

border:none;

border-radius:15px;

padding:10px;


}



.wallet-page button{


width:100%;

height:48px;

margin-top:15px;

border:none;

border-radius:25px;

background:#00c853;

color:white;

font-weight:bold;


}



@media(max-width:380px){


.balance-box{

grid-template-columns:1fr;

}


}



.gift-box{

background:linear-gradient(145deg,#241100,#5c2600);

border-radius:25px;

padding:25px;

text-align:center;

color:white;

box-shadow:0 0 30px #ff9800;

animation:glow 2s infinite;

}


.gift-icon{

font-size:70px;

animation:shake 1.5s infinite;

}


.gift-box input{

width:90%;

padding:15px;

border-radius:15px;

border:none;

margin:15px;

font-size:18px;

}



.gift-box button{

padding:14px 30px;

border-radius:20px;

background:#ffb300;

border:none;

font-weight:bold;

cursor:pointer;

}



.reward-popup{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#111;

padding:30px;

border-radius:25px;

color:white;

box-shadow:0 0 50px gold;

animation:popup .5s;

}



.gift-open{

font-size:80px;

animation:shake .5s infinite;

}


.coin{

font-size:25px;

color:#ffd700;

animation:fly 1s infinite;

}


.diamond{

font-size:25px;

color:#00eaff;

animation:fly 1s infinite;

}



@keyframes shake{

0%{transform:rotate(0)}

25%{transform:rotate(10deg)}

50%{transform:rotate(-10deg)}

100%{transform:rotate(0)}

}



@keyframes glow{

50%{

box-shadow:0 0 60px orange;

}

}



@keyframes popup{

from{

scale:.5;

opacity:0;

}

to{

scale:1;

opacity:1;

}

}


@keyframes fly{

50%{

transform:translateY(-10px);

}

}

