.admin-dashboard{


min-height:100vh;


padding:80px 15px 30px;


background:

radial-gradient(circle,#4a3000,#050505);


color:white;


}





.admin-dashboard h1{


text-align:center;


color:#ffd700;


font-size:30px;


}





.admin-status{


text-align:center;


color:#00ff88;


}





.admin-grid{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:15px;


margin-top:25px;


}





.admin-card{


background:#111;


border-radius:25px;


border:1px solid #ffd700;


padding:20px;


text-align:center;


}





.admin-icon{


font-size:40px;


}




.admin-card h2{


font-size:18px;


color:#ddd;


}




.admin-card strong{


font-size:22px;


color:#ffd700;


}





.admin-panel{


margin-top:30px;


background:#111;


padding:20px;


border-radius:25px;


border:1px solid #333;


}





.admin-panel h2{


color:#ffd700;


text-align:center;


}




.admin-panel button{


width:100%;


height:50px;


margin-top:12px;


border:none;


border-radius:25px;


background:

linear-gradient(
90deg,
#ff9800,
#ffd700
);


font-weight:bold;


font-size:15px;


}





@media(max-width:600px){


.admin-grid{


grid-template-columns:1fr;


}


}

